<form class="pure-form" action="/users" method="POST">
  <fieldset>
    <legend>New User</legend>

    <input name="user[email]" type="email" placeholder="Email">
    <input name="user[password]" type="password" placeholder="Password">

    <label for="remember">
      <input id="remember" type="checkbox"> Remember me
    </label>

    <button type="submit" class="pure-button pure-button-primary">Sign in</button>
  </fieldset>
</form>
